// _styles.scss
@import '../../styles/styles';

.base {
    margin: 0px 50px 20px;
    min-height: 300px;
    max-height: 330px;
    border-radius: 25px;
    margin-top: 30px;
    background-color: $Primary;
    background-image: url('./../../assets/temaz.png');
    background-size: cover;
    
    @extend %display-flex;
    justify-content: flex-end;
    box-shadow: rgba(33, 35, 38, 0.521) 0px 10px 10px -10px;

    &__about {
        @extend %display-flex-flex-direction-column ;
        min-width: 30%;
        max-width: 100%;
        min-height: 200px;
        max-height: 200px;
        margin-top: 45px;
        margin-right: 70px;
        border-radius: 50px;
        background-color: $Tranparent;
       

        &__text {
            @extend %display-flex-flex-direction-column ;
            margin: 35px 0px 0px 20px;

            &--title {
                font-size: $Display-Large;
                font-weight: bolder;
                color: $Primary;
            }

            &--subtitle {
                font-size: $Display-Medium;
                font-weight: 500;
                color: $Primary;
            }
        }

    }
}